{# src/Sdz/AdminBundle/Resources/views/Admin/.html.twig #}

{% extends "ParcAdminBundle::layout.html.twig" %}

{% block titre %}
	{{ parent() }}
{% endblock %}

{% block page_titre %}	
	
{% endblock %}

{% block contenu %}
	
	<p>
		Bienvenu sur la page d'administration du site<br>
		Vous pouvez administrer les utilisateurs, les news, les documents et les données de localisation.
	</p>
{% endblock %}