<nav>
	<ul>
		<li><a href="{{ path('parc_admin_users') }}"> Utilisateurs </a></li>
		<li><a href="{{ path('parc_admin_docs') }}"> Documents </a></li>
		<li><a href="{{ path('parc_admin_news') }}"> News </a></li>
		<li><a href="{{ path('parc_admin_local') }}"> Localisation </a></li>
	</ul>
</nav>