/* @font-face kit by Fonts2u (http://www.fonts2u.com) , 'Segoe UI''Open sans', 'Trebuchet MS', Arial, sans-serif ;*/
@font-face {
	font-family: "Open Sans Light";
	src: url("../../Resources/public/police/opens_light/OpenSans-Light.eot?") format("eot"),
		 url("../../Resources/police/opens_light/OpenSans-Light.woff") format("woff"),
		 url("../../Resources/public/css/police/opens_light/OpenSans-Light.ttf") format("truetype"),
		 url("../../Resources/public/css/police/opens_light/OpenSans-Light.svg#OpenSans-Light") format("svg");
	font-weight: normal;
	font-style:normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../../Resources/public/css/police/opens/OpenSans-Regular.eot?") format("eot"),
		 url("../../Resources/public/css/police/opens/OpenSans-Regular.woff") format("woff"),
		 url("../../Resources/public/css/police/opens/OpenSans-Regular.ttf") format("truetype"),
		 url("../../Resources/public/css/police/opens/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
}
body
{
	font-family: 'Open Sans','Segoe UI', 'Open Sans Light'; 	
}

#deconnexion
{
	float: right;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
	text-decoration: none;
	
}

.icone
{
	vertical-align: middle;
    margin-right: 10px;
	margin-bottom: 5px;
}

.icone2
{
    margin-left: 30px;
}

#logo img{
	margin: 1% 2%;
}
nav
{
	display: inline-block;
	width: 100%;
	padding: 0px;
}

nav ul, .records_list ul
{
	list-style-type: none;
	margin: 0px;
}

#nav{
	margin-bottom:0;
}
nav li, .records_list li
{
    display: inline-block;
    margin-right: 0px;
	text-align:center;
}

.records_list ul{
	padding:2px;
}

.records_list a:visited{
	color: blue;
}

.records_list a:hover, .records_list .actif{
	color: #ce8838;
	text-decoration: none;
}

nav a
{
	height:28px;
	width:100px;
	font-size: 1em;
	line-height:20px;
	text-align: center;
	color:white;
	display:block;
	text-decoration: none;
	background-color:#0068B1;
	border-radius: 0 15px;
	border: 2px solid white;
}

nav a:hover, nav a:active
{
	/*line-height: 21px;*/
	color: white;
	background-color:#ec8828;
	font-weight:bold;
	border: 2px solid #0068b1;
}

#main nav{
	margin-left: 150px;;
} 

#main nav a
{
	height:20px;
	width:100px;
	font-size: 1em;
	line-height:15px;
	text-align: center;
	color:#ec8838;
	display:block;
	text-decoration: none;
	background-color: white;
	border-radius:0;
}

#main nav a:hover
{
	sfont-weight:bold;
}

/**************** Corps acceuil*************/

#content{
	box-shadow: -1px -1px 1px 2px #1c1a19;
	box-shadow: 1px 1px 2px #1c1a19;
	border-radius: 0px 0px 5px 5px;
	padding: 10px 10px;
	margin: auto;
}
/*
section
{
	/border-radius: 0 0 10px 10px;
	width: 900px;
	box-shadow: 0px 0px 4px black;/
	margin-bottom: 10px;
	padding-bottom: 10px
}

aside, article
{
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	margin: 15px 0px 0px 10px;
	
}

article
{
	width:550px;
	border-radius: 10px;
	padding: 0px 10px 10px 15px;
}

aside
{
	position: relative;
	width: 230px;
	border-radius: 10px;
	background: url('../../Resources/public/images/fond_actu.jpg');
	/background-color: RGBa(105,105,105,0.9);/
    box-shadow: 0px 2px 5px #1c1a19;
	
}
*/
.presentation
{
	display: block;
	background-color: #0068b1;
	padding:6px;
	color:white;
	width:30%;
	text-align:center;
	border: 2px solid #0068b1;
	border-radius:0 15px 15px 0;
	font-size:1.1em;
}
/*
.presentation1
{
	display: block;
	background-color: #f0e9ff;
	border-radius:5px ;
	padding-left: 10px;
	box-shadow: 3px 3px 4px black;
	border-top: 0px solid black;
	width: 50%;
	height: 20px;
	border: 2px solid gray;
}

footer a, a.lien::hover
{
	text-decoration: none;
	color: green;

}

footer a:hover, .liens:hover
{
	color: blue;
}

a.lien
{
	text-decoration: none;
}
/*********************************************** TABLES******************************************************/

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
	margin: 10px;
	text-align:center;
}

td, tr.odd td:hover, tr.even td:hover
{
    border: 1.5px solid #ce8838;
	padding:2px 5px;
}

.taille
{
	width: 20px;
	height: 20px;
}

th, .entete
{
	font-size: 10pt;
	height: 30px;
	color: black;
	background-color: transparent;
	background-image: -webkit-linear-gradient(top, white, #4DC4FF);
	.ui-widget-header - -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(204, 238, 255)) text-align:center;
	border: 2px solid #4DC4FF;
}

tr.odd:hover, tr.even:hover {
	background: #DFECFD;
	z-index: 1;
}

tr.odd{
	background: #FFEFD3;
	z-index: 1;
}

.entete
{
	text-decoration: none;
	border: none;
}

/* .option
{
	width: 60px;
}

.navig
{
	display:inline-block;
	text-decoration: none;
	margin: 3px;
	color: blue;
}

.navig:hover, .navig:active
{
	color:#ba0000;
}
 */
.select
{
	color: green;
	font-weight: bold;
	margin: 3px;
}

.groupe 
{
	font-weight: bold;
	background-color: #f0e9ff;
	border-radius:5px ;
	padding-left: 10px;
	box-shadow: 1px 1px 2px black;
	border-top: 0px solid black;
	width: 40%;
	height: 20px;
	border: 1px solid gray;
	margin: 30px;
}

#contacts a
{
	text-decoration: none;
	color: green;
	width: 80%;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 16px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #4DC4FF;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #000;;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}


#fiche_princ, #fiche_complem, #fiche_crbpo, #fiche_pnpc, #fiche_mesure{
	display: inline-block;
	vertical-align: top;
}
#fiche_mesures{
	display: block;
}

#form_princ, #form_complem, #form_crbpo, #form_pnpc, #form_mesure{
	display: inline-block;
	vertical-align: top;
}

#formulaire{
	background-color: rgba(206, 136, 56, 0.3);
}

.actions {
	display: block;
	margin-left: 30px;
	margin-bottom: 10px;
	padding:0px;
	border-color:solid 1px blue;
}

/**************** Form **************/
.form_1, .form_2{
	display: inline-block;
	vertical-align: top;
	margin:0px;
	padding:0px;
	font-size:13px;
}
.form_1{
	width: 24%;
}

.form_2{
	width: 24%;
}

span.error{
	display:inline;
	font-size:10px;
	color:red;
}

span.error2{
	display:inline;
	color:red;
}

span.required{
	margin:0px; 
	padding:0px;
	width:10px;
	font-weight:bold;
	color:red;
}

.form_1 input[type="text"],.form_2 input[type="text"], .form_1 select {
	width: 80%;
}

.form_1 input[type="text"],.form_2 input[type="text"]{
	margin:0px;
	height:20px;
	padding : 3px;
}

.form_1 select, .form_2 select{
	margin:0px;
	height:28px;
}

.form_1 .next-input{
	margin-bottom:3px;
}


.inviteClic, .inviteClic2{
  width: 28%;
}
form .zoneTexteAfficherMasquer{
	display: inline-block;
	width: 30%;
	margin-left:40px;
	margin-top:10px:
}

form .zoneTexteAfficherMasquer2{
	display: inline-block;
	width: 30%;
}
form table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
form td
{
    border: none;
	text-align:left;
}

form th
{
	border: none;
	text-align:right;
	background:none;
}

.help{
	margin:0px;
	padding:0px;
}

.form img{
	float:bottom;
}

.modalform{
	background:none;
	padding:0; 
}

.modalform button{
	display:none;
}

label{
	color:black;
	font-weight:normal;
}


	/********* Mise en forme des inputs ***/
	
input:focus 
{
	border-color: rgba(82, 168, 236, 0.5);
	outline: none;
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

.admin_table{
	padding:10px;
}

/**************  Modal  form  ****************/

 .modalform label, .modalform input { display:block; }
 .modalform input.text { margin-bottom:12px; width:95%; padding: .2em; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
	
/****************        FLASH           ******/

.flash {
    text-align: center;
    padding:	.3em .4em;
    clear:		both;
	margin-bottom:10px;
	width:75%;
}

.info {
	border: thin solid #0DA300 ;
    background: #D9FDD2;
}

.error_f{
	border: thin solid #C90505;
    background: #FDE2D2;
}

.warning{
	border: thin solid #ff0;
    background: #ffe;
}

.zoneTexte, .zoneTexte1 {
	margin-left: 10%;
}


/************  *********************/

#parc_adminbundle_newstype textarea{
	margin: 0px; width: 355px; height: 140px; padding: 5px;
}
#parc_adminbundle_newstype_sujet
{
	width: 355px; height: 20px; margin: 0px; 
}
textarea#parc_puffinsbagbundle_donneesprincipalestype_donneesComplementaires_memo{
	margin-top: 0px; margin-bottom: 0px; height: 83px; width: 158px;
}


.help_img:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
}

.help_img span{
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}

a.lien {
  text-decoration: none;
}

/********** TABS *****************
  .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}*/ 

form #requetes #leschamps_0
{
	display: inline-block;
	width: 30%; 	
	vertical-align: top;
	/*border: 1px solid gray;*/
	margin: 0px;
}

form #requetes span
{
	display: inline;
	width: 25%; 
	margin: 0px;
}

#requetes input[type="text"] {
	margin-left: 5px;
}

#requetes input, #requetes select {
	border: 1px solid black;
}

.liens3
{
	text-decoration: none;
	color: blue;
	background-color: #f0e9ff;
	border-radius:5px ;
	padding-left: 10px;
	box-shadow: 1px 1px 2px black;
	border-top: 0px solid black;
	width: 15%;
	height: 20px;
	border: 1px solid gray;
}

.liens3:hover
{
	color:green;
}

.ajout
{
	text-decoration: none;
	color: green;
	font-size: 13px;
}

input[type="text"]
{
    /*width: 120px;*/
    padding: 0px; 
	/*margin: 5px;*/
	font-size: 14px;
	padding-left: 3px;
	font-family: 'Trebuchet MS', 'Book Antiqua';
}

#champ0
{
	margin:0px;
	padding: 0px;
}

select
{
	margin: 5px;
	font-family: 'Trebuchet MS', 'serif';
	font-size: 14px;
	height:23px;
}

Input[type=checkbox]
{
   width: 15px;
}

#leschamps_0 label{
	margin: 10px 30px 10px 5px;
}
/*input[type=submit]
 {
	text-align: center;
    font-size: 1.1em;
    width: 100px;
	padding: 3px; 
}
input[type=submit]
 {
  width: 100px;
  padding: 5px;
  background-color:rgba(0,30,150,0.15);
  font-weight: bold; 
  margin-left: 10px;
  font-size: .9em;
  font-family: arial;
  margin: 10px;
}

/**************  documents *******************/
.doc{
	text-align: left;
	padding: 6px 2px;
	margin: 0 0px -1px 0px;
	line-height: 48px;
	border: 1px solid #e5e5e5;
	width:70%
}

img.icons{
	float: left;
	width: 48px;
	height: 48px;
	margin-top: -2px;
	margin-right: 11px;
	margin-left: -1px;
	display: block;
	overflow: hidden;
	background-color: transparent;
	vertical-align: bottom;
	border: 1px solid transparent;
	cursor: pointer;
}

.sprite_web {
	width: 16px;
	height: 16px;
	/*background-image: url(/static/images/sprites/web_sprites-vflOuVZDt.png);*/
	background-repeat: no-repeat;
	background-position: 0 16px;
}

.doc_nom a {
	color: #3d464d;
	text-decoration:none;
}

.doc_nom a:hover {
	text-decoration:underline;
}

.type {
width: 10%;
}

.doc_nom{
	float: left;
	height: 32px;
	width: 80%;
	padding-top: 1px;
	display:inline-block;
}

.mouse-active .doc:hover {
	background: #f5fafe;
	border-color: #e1eaf1;
	position: relative;
	z-index: 1;
}

ol{
	display: block;
	list-style-type: none;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
input[type=submit]
 {
	
 }
 
 .button_submit 
 {
	padding: .4em 1em;
	font-weight: bold;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
 }
 
.button_enregistrer
{
	border:1px solid #50A7E9;
	background: #C0E3FF;
	color: #083C63;	
	margin-top: 5px;
	border-radius: 5px;
}

.button_left
{
	margin-left:5px;
	margin-top: 0px;
}

.formulaire_valider
{
	border:1px solid green;
	background: green;
	color: white;
	margin: 0 5px;
}

.formulaire_annuler
{ 
	border:1px solid red;
	background: rgb(211, 22, 5);
	color: white;
	padding: .4em 1em;
	margin-right: 5px;
}

input.butt{
   /*border-top: 1px solid #89ccf5;*/
   background: #7dc5f5;
   background: -webkit-gradient(linear, left top, left bottom, from(#488bb5), to(#7dc5f5));
   background: -webkit-linear-gradient(top, #488bb5, #7dc5f5);
   background: -moz-linear-gradient(top, #488bb5, #7dc5f5);
   background: -ms-linear-gradient(top, #488bb5, #7dc5f5);
   background: -o-linear-gradient(top, #488bb5, #7dc5f5);
   padding: 5px 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   /*-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
   color: #0d000d;
   text-decoration: none;
   vertical-align: middle;
   }
input.butt:hover {
   border-top-color: #ed8332;
   background: #ed8332;
   color: #ededf7;
   }
.butt:active {
   border-top-color: #bf6e30;
   background: #bf6e30;
   }
   

@font-face {
    font-family: 'MaSuperPolice';
    src: url('../../Resources/public/css/MaSuperPolice.eot');
}

html {
	height: 101%;
}

body {
	margin: 0;
	padding: 0;
}

* {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, .contentheading, .componentheading {
	padding: 3px 0;
	margin: 0;
	line-height: 1.2;
	font-weight: bold;
	font-style: normal;
}

h1, .componentheading {
	font-size: 1.75em;
}

h2, .contentheading {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 1em;
}

ul.menu {
	margin: 0;
}

ul.menu li {
	list-style: none;
}

p {
	padding: 5px 0;
	text-align:justify;
}

address {
	margin: .75em 0;
	font-style: normal;
}

a:focus {
	outline: none;
}

img {
	border: none;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

form, fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input, button, select {
	vertical-align: middle;
}

.clr {
	clear : both;
}
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.clearfix {
	zoom: 1;
}

#headermodule .NFClass, #body2 .NFClass
{
	background-color: transparent;
}

body {
	color: black;
	text-align: left;
	line-height: 20px;
	font-size: 13px; 
	padding:5px;
	background-color: rgba(0, 104, 177, 0.60);
}


.navbar-inner, .nav-list > .active > a, .nav-list > .active > a:hover,
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu
.active > a:hover,
.nav-pills > .active > a, .nav-pills > .active > a:hover,
.btn-primary {
	color: #036c9e;
}

.rounded {
	
}

.white {
	background-color: white;
	
}

img {
	max-width: 100%;
	height: auto;
}

#center .moduletable 
{
	margin-top:5px;
}

.wrapper {
	max-width: 960px;
	margin: auto;
}

#nav {
	margin: 0;
	padding: 0;
}

#nav ul.menu {
	margin: 0;
	padding: 0;
	zoom: 1;
}

#nav ul.menu:after {
	content : "";
	clear: both;
	display: block;
}

#header
{
	background-color:white;
	/*border-bottom: 0.5px solid black;
	background: url('../../Resources/public/images/1new.png');*/
}

#logo {
	float: left;
	margin: 5px 0;
	position: absolute;
	/*display: block;*/
	max-width: 100%;
	background: transparent;
	opacity: 0.95;
	z-index: 998;
}

#headermodule {
	float: right;
	margin: 10px;
}

#row1modules .row1module {
	float: left;
	width: 24.3%;
	margin-right: 0.7%;
}

#right, #center, .btm1 {
	float: left;
}
#right {
	width: 29%;
	margin-left: 1%;
}
#center{
	width: 70%;
}

#right .inner
{
	margin-bottom: 5px;
}

#right .inner .moduletable
{
	margin-bottom: 5px;
}

#center .btm1{
	width: 100%;
}

.noright #center{
	width: 96%;
	margin:2%;
}

.btm1{
	margin-bottom: 0;
}

#slideshow, #main
{
	margin: 5px 0px;
	padding: 0px;
}

/* Pagination ---*/
 .counter {
 text-align:center;
 padding:10px 0;
 
 }
 
 .pagination {  
 text-align:center;
 margin-bottom:0px;
 background:white;
 }
 
 .pagination li {
 background: none;
 display: inline;
 margin: 0;
 margin: 0;
 overflow: hidden;
 
 }
 
 .pagination li span {
 padding: 6px; 
 line-height: 20px;
 }
 
 .pagination li a {
 color: #000;
 line-height: 20px;
 padding:7px;
 text-decoration: none;
 background:#fff;
 
 }
 
 .pagination li a:hover, .pagination li a:active, 
 .pagination li a:focus {
 text-decoration: none;
 color:#fff;
 background:#222;
 
 } 
 
 /* ++++++++++++++  nav entre article  ++++++++++++++ */
 ul.pagenav {
 margin:5px 20%; 
 width: 60%;
 
 } 
 ul.pagenav li { 
 list-style: none;
 display: inline-block;
 background:#bdbdbd; 
 opacity:0.9;
 padding:5px;
 color:black; 
 
 }
 
 ul.pagenav li a {
 list-style: none;
 color:#000; 
 
 } 
 
 ul.pagenav li a:hover, 
 ul.pagenav li a:focus {
 text-decoration:none;
 color:#fff;
 background:white;
 color:black; 
 } 
 
 ul.pagenav .previous {
 } 
 
 ul.pagenav li.next { 

 }
/***************** LOGIN **************/
form
{
	padding: 10px;
}

 input[type="text"], input[type="email"], input[type="password"]
 {
	padding: 3px;
	border: 1px solid black;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 2px;
	/*height: 23px;*/
 }
 
 input, select, textarea{
	border: 1px solid black;
 }
.tooltip, .fade, .top{
  display: none;
 }
 
 /****************  PIED DE PAGE  ****************/
 #body2{
	color: white;
 }
 
 .footer1 {
	margin-left: 500px;
	margin-top: 10px;
	color: #F7E1AF;
}

 .footer2{
	display: none;
 }
 
 .row2module{
	display: inline-block;
	vertical-align: top;
	width: 19.6%;
	margin-right: .02%;
 }
.row3module{
	display: inline-block;
	vertical-align: top;
	width: 9.8%;
	margin-right: .02%;
 }

/*! jQuery UI - v1.10.4 - 2014-03-10
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Lucida%20Grande%2CLucida%20Sans%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=5px&bgColorHeader=5c9ccc&bgTextureHeader=gloss_wave&bgImgOpacityHeader=55&borderColorHeader=4297d7&fcHeader=ffffff&iconColorHeader=d8e7f3&bgColorContent=fcfdfd&bgTextureContent=inset_hard&bgImgOpacityContent=100&borderColorContent=a6c9e2&fcContent=222222&iconColorContent=469bdd&bgColorDefault=dfeffc&bgTextureDefault=glass&bgImgOpacityDefault=85&borderColorDefault=c5dbec&fcDefault=2e6e9e&iconColorDefault=6da8d5&bgColorHover=d0e5f5&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=79b7e7&fcHover=1d5987&iconColorHover=217bc0&bgColorActive=f5f8f9&bgTextureActive=inset_hard&bgImgOpacityActive=100&borderColorActive=79b7e7&fcActive=e17009&iconColorActive=f9bd01&bgColorHighlight=fbec88&bgTextureHighlight=flat&bgImgOpacityHighlight=55&borderColorHighlight=fad42e&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
	width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
	/* support: IE10, see #8844 */
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}
.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
	background: url("../../Resources/public/css/redmond/images/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-spinner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}
.ui-spinner-input {
	border: none;
	background: none;
	color: inherit;
	padding: 0;
	margin: .2em 0;
	vertical-align: middle;
	margin-left: .4em;
	margin-right: 22px;
}
.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0;
}
/* more specificity required here to override default borders */
.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
}
/* vertically center icon */
.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;
}
.ui-spinner-up {
	top: 0;
}
.ui-spinner-down {
	bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position: -65px -16px;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 0.9em; 
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 0.8em;
}
.ui-widget-content {
	border: 1px solid #a6c9e2;
	background: #fcfdfd url(../../Resources/public/css/redmond/images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: 1px solid #4297d7;
	background: #5c9ccc url(../../Resources/public/css/redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #c5dbec;
	background: #dfeffc url(../../Resources/public/css/redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #2e6e9e;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #2e6e9e;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #79b7e7;
	background: #d0e5f5 url(../../Resources/public/css/redmond/images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #1d5987;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #1d5987;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #79b7e7;
	background: #f5f8f9 url(../../Resources/public/css/redmond/images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #e17009;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #e17009;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fad42e;
	background: #fbec88 url(../../Resources/public/css/redmond/images/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url(../../Resources/public/css/redmond/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url(../../Resources/public/css/redmond/images/ui-icons_469bdd_256x240.png);
}
.ui-widget-header .ui-icon {
	background-image: url(../../Resources/public/css/redmond/images/ui-icons_d8e7f3_256x240.png);
}
.ui-state-default .ui-icon {
	background-image: url(../../Resources/public/css/redmond/images/ui-icons_6da8d5_256x240.png);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url(../../Resources/public/css/redmond/images/ui-icons_217bc0_256x240.png);
}
.ui-state-active .ui-icon {
	background-image: url(../../Resources/public/css/redmond/images/ui-icons_f9bd01_256x240.png);
}
.ui-state-highlight .ui-icon {
	background-image: url(../../Resources/public/css/redmond/images/ui-icons_2e83ff_256x240.png);
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url(../../Resources/public/css/redmond/images/ui-icons_cd0a0a_256x240.png);
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 5px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 5px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 5px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 5px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa url(../../Resources/public/css/redmond/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
}
.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa url(../../Resources/public/css/redmond/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
	border-radius: 8px;
}
