{# src/Parcdz/PuffinsBagBundle/Resources/views/Puffinsbag/index.html.twig #}

{% extends "ParcPuffinsBagBundle::layout.html.twig" %}

{% block titre %}
	{{ parent() }}
{% endblock %}

{% block page_titre %}	
	Accueil
{% endblock %}

{% block contenu %}
	<p>
		« Le suivi des oiseaux marins pélagiques méditerranéens est effectué sur les sites naturels insulaires Corses et Provençaux
		depuis plusieurs dizaines d’années. Couplé au suivi de la reproduction, les campagnes de baguage des jeunes individus et des 
		adultes permettent de mieux comprendre les dynamiques de population de ces espèces. 
	</p>
	<p>
		Afin de favoriser la mutualisation des données de suivi entre les différents sites naturels et pour permettre la valorisation des résultats de ces travaux, 
		les gestionnaires des bouches de Bonifacio, de la Giraglia et des Parc nationaux des Calanques et de Port-Cros avec l’appui de l’Initiative pour 
		les Petites Iles de Méditerranée ont pris la décision de procéder à l’harmonisation de leurs méthodes de suivi et à la mise en commun de leurs données 
		de baguage au sein de la présente base de donnée. 
	</p>
	<p>
		C’est donc sur la base de l’outil informatique initialement développé par le Parc national de Port-Cros qu’a été développé cet outil à l’échelle régionale.
	<p>
	
	{% include "ParcPuffinsBagBundle:PuffinsBag:news.html.twig" %}
{% endblock %}
 
{% block news %}
			
						
		
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/parcpuffinsbag/js/code1.js') }}" type="text/javascript"></script>
{% endblock %}